body {
    font-family: 'Poppins', sans-serif;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
    padding-left: 5%;
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 1px;

}

#skip {
    margin-top: 7%;
}

.orrange {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 400;
    box-shadow: 7px 7px 40px gray;
}

.healthy-diet {
    background-image: url(eat-healthy-main/images/shapes/7.png
);
    width: 100%;
    height: 600px;
}

#Diet {
    padding-top: 7%;
}

.healthy-diet p {
    margin-right: 5%;

}

#sundori {
    height: 580px;

    padding-top: 20px;
}

#my {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.recipie-tittle div {
    box-shadow: 10px 10px 40px gray;
    margin: 5%;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
}

.recipie-tittle img {
    width: 100%;
}

.subscription {

    box-shadow: 10px 10px 40px gray;
    margin: 5% 20%;
    width: 60%;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
}

.subscription div {
    margin-left: 10%;
    text-align: center;
}

.yid {
    display: flex;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 3%;
}



.gray {
    color: gray;
}